
.recipe-image img{
    width: 50%;
    height: 30%;
    float: left;
    border-radius: 0.3rem;
}

#recipe-image img{
    float: left;
    border-radius: 0.3rem;
}

#add-recipe, #add-recipe-nav{
    background-color: rgba(111, 216, 29, 0.77);
    border-radius:0.5rem;
}

#product-image{
    float: left;
    width: 5rem;
    height: 3.5rem;
}

.is-selected{
    background-color: rgba(182, 255, 0, 0.25);
}

.product-image img{
   float: left;
    width: 5rem;
    height: 3.5rem;
}