<div data-role="view" data-layout="default" data-model="app.Recipes">
    <ul data-bind="source: recipes" id="recipes" data-template="recipesTemplate" data-role="listview"></ul>
    <footer data-role="footer">
        <button id="add-recipe" data-role="button">Add Recipe</button>
    </footer>
</div>

<script type="text/x-kendo-template" data-id="recipesTemplate" id="recipesTemplate">
    <div data-role="touch" data-bind="events: { tap: recipeSelected }" class="cf">
        <div class="recipe-image">
            <img data-bind="attr:{src: PictureUrl}"/>
        </div>
        <div class="recipe-content">
            <h2 class="recipe-name" data-bind="text: Name"></h2>
        </div>
    </div>
</script>